[Unit]
Description=Aquaculture FQL-DQN Controller
After=network.target

[Service]
# Pastikan /home/ubuntu/thesis disesuaikan dengan folder root Anda di Raspberry Pi
ExecStart=/bin/bash /home/ubuntu/thesis/start_edge.sh
WorkingDirectory=/home/ubuntu/thesis
Restart=always
RestartSec=5
User=ubuntu
StandardOutput=append:/home/ubuntu/thesis/results/hasil_real/service.log
StandardError=append:/home/ubuntu/thesis/results/hasil_real/service_error.log

[Install]
WantedBy=multi-user.target
