[Unit]
Description=Aquaculture FQL-DQN Controller
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ubuntu/thesis/fql_rpi/main_fql.py
WorkingDirectory=/home/ubuntu/thesis/fql_rpi
Restart=always
RestartSec=5
User=ubuntu
StandardOutput=append:/home/ubuntu/thesis/fql_rpi/logs/fql.log
StandardError=append:/home/ubuntu/thesis/fql_rpi/logs/fql_error.log

[Install]
WantedBy=multi-user.target
